body {background-color: lavender;
  font-family: helvetica, arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  font-family: "times new roman", times, serif;
text-align: center;
}
